       body {
        background-image: url(https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1274&q=80);
        background-size: cover;
    }



    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }


    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 10vh;
        background-color: #006A97;
        font-family: "Times New Roman", sans-serif;
    }

    .logo {
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 15px;
        cursor: pointer;
    }

    .logo:hover {
        color: #7BD86C;
    }

    .nav-links li {
        list-style: none;

    }

    .nav-links li a:hover {
        color: #7BD86C;
    }

    .nav-links {
        display: inline-flex;
        justify-content: space-around;
        width: 40%;

    }

    .nav-links a {
        display: flex;
        justify-content: space-around;
        color: white;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 10px;

        padding-right: 10px;
        padding-left: 1px;
    }
.home{
    text-align: left;
    margin-top: 200px;
    margin-left:600px;
    font-size: 35px;
    margin-bottom: 15px;
}

.container{
    text-align: left;
    margin-left: 590px;

}


.btn1{
  background:#006A97;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 5px;
}
.btn1:hover{
  background:#fff;
  color:#1AAB8A;
}
.btn1:before,.btn1:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.btn1:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn1:hover:before,.btn1:hover:after{
  width:100%;
  transition:800ms ease all;
}



