* {
    text-align: center;
    background-color: beige;
    
}
button, form button {
    border-radius: 80rem;
    margin: 10px 20px;
    padding: 5px 6px;
    background-color: #1AAB8A;
    cursor: pointer;
    box-shadow: 0 1rem 1.4rem #006a97;
    transform:scale(1.3) ;
    transform: transform 100ms;
}
.flex-column{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;

}
.flex-center{
    justify-content: center;
    align-items: center;
}

.btn{
    font: size 2.4rem; 
    border-radius: 100rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 2rem;
    text-decoration: none;
    color:rgb(28,26, 26);
    background: linear-gradient(90deg, #1AAB8A, #006A97);
    
}
.btn:hover{
    border-radius: 200rem;
    cursor: pointer;
    box-shadow: 0 1rem 1.4rem 0 #006A97;
    transition:transform 800ms ;
    transform: scale(1.1);
}
