.header {
    background-color: lightblue;    
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.body{
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    margin:30px;
}

.search-icon{
    width: 40px;
    background: green;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.card-container{
    display: flex;
    justify-content: space-between;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

input{
    padding: 20px;
    margin: 0;
}
.container {
    padding: 2px 16px;
    display: inline-block;
}

div {
    background-image: url('img_girl.jpg');
}